.feature {
  background-color: var(--primary-bg-color);
  padding-top: 94px;
  padding-bottom: 47px;
}
/* .feature-title {
  display: none;
} */
.feature-list {
  display: flex;
}
.feature-item {
  max-width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-icon {
  border-radius: 4px;
  background-color: #f5f4fa;
  width: 70px;
  height: 70px;
}

.feature-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
